
@media only screen and (max-width: 480px) {
	.hero-area img {
	    max-width: 100px;
	}

	.hero-area .block h1 {
	    font-size: 30px;
	}

	.portfolio-items-wrapper .mix {
	    padding: 10px 20px;
	}

	#our-team {
		margin-top: -60px;
	}
}

@media only screen and (max-width: 768px) {
	
	.hero-area img {
	    max-width: 150px;
	}

	.hero-area .block h1 {
	    font-size: 36px;
	}

	.portfolio-items-wrapper .mix {
		padding: 20px 40px;
	}

}

@media only screen and (min-width: 1570px) {
	.content-block {
	    margin-top: 14%;
	}
}